<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Manual allocation</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <style>
      body, html {
        height: 100%;
        margin: 0;
      }

      .container{
        text-align: center;
      }

      #image_holder{
        display: block;
        width: 80%;
        height: 80%;
        margin-left: auto;
        margin-right: auto;
        object-fit: cover;
      }

      .button{
        margin: 10px;
      }

      .buttons_panel{
        position: fixed;
        height: 55px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        margin-bottom: 0px;
      }

      .choose{
        width: 150px;
      }
    </style>
    <script type="text/javascript">
      var image_index = 0;
      var image_list = {{images|safe}};
      var image_list_length = image_list.length
      var result = {};

      function update_image_left(){
        document.getElementById('image_left').innerHTML = 'image '+ String(image_index + 1) + '/' + String(image_list_length);
      };

      window.onload = function(){
        update_image_left();
      };

      function open_modal(){
        document.getElementById("save").classList.add("is-active");
      };

      function close_modal(){
        document.getElementById("save").classList.remove("is-active");
      };

      function change_image(element){
        if (image_index >= (image_list_length - 1)){
          open_modal();
          return;
        };
        result[image_list[image_index]] = element.value;
        image_index++;
        document.getElementById("image_holder").src='media'+image_list[image_index];
        update_image_left();
      };

      function save_result(){
        form = document.getElementById('save_form')

        for (key in result) {
          // alert('key: ' + key + ', value:' + result[key]); // debug
          var hiddenField = document.createElement("input");
          hiddenField.setAttribute("type", "hidden");
          hiddenField.setAttribute("name", key);
          hiddenField.setAttribute("value", result[key]);
          form.appendChild(hiddenField);
        }
        document.body.appendChild(form);
      }
    </script>
  </head>
  <body>
  <section class="section">
    <div class="container">
      <h1 class="title">
        Manual Allocation
      </h1>
      <p class="subtitle">
        To determine <strong>Hotel</strong> or not! <span id="image_left" class="tag is-info"></span>
      </p>

      <img src="media{{ images[0] }}" id="image_holder">

      <div class="buttons_panel">
        <button class="button is-danger choose" type="submit" value="0" id="not_hotel" onclick="change_image(this);">
          <- Not hotel
        </button>
        <button class="button is-success choose" type="submit" value="1" id="is_hotel" onclick="change_image(this);">
          Hotel ->
        </button>
      </div>

      <div class="modal" id="save">
        <div class="modal-background"></div>
          <div class="modal-card">
            <header class="modal-card-head">
              <p class="modal-card-title">Save images mapping</p>
              <button class="delete" aria-label="close" onclick="close_modal();"></button>
            </header>
            <section class="modal-card-body">
              <p>You have sorted all the images. <br>After saving, you can see the mapping in the result.csv file.</p>
            </section>
            <footer class="modal-card-foot">
              <form method="post" id="save_form">
                <button class="button is-success" onclick="save_result();">Save changes</button>
              </form>
              <button class="button" type="submit" onclick="close_modal();">Cancel</button>
            </footer>
          </div>
        </div>

    </div>
  </section>
  </body>
</html>