{% extends "base.html" %}

{% block title %}Manual allocator{% endblock %}
{% block include %}
<link rel="stylesheet" href="{{ app.router.static.url_for(filename='css/allocate.css') }}">
<script type="text/javascript">{% include "js/allocate.js" %}</script>
{% endblock %}

{% block body %}
  <section class="section">
    <div class="container">
      <h1 class="title">
        Manual Allocator
      </h1>
      <p class="subtitle">
        To <strong>classify</strong> your images <span id="image_left" class="tag is-info"></span>
      </p>

      <img src="{{ images[0] }}" id="image_holder">

      <div class="buttons_panel">
        {% for button in buttons.values() %}
          <!-- TODO: Add flexibility to the buttons -->
          <button class="button is-danger choose" type="submit" value="{{ button }}" onclick="change_image(this);">
            {{ button }}
          </button>
        {% endfor %}
      </div>

      <div class="modal" id="save">
        <div class="modal-background"></div>
          <div class="modal-card">
            <header class="modal-card-head">
              <p class="modal-card-title">Save images mapping</p>
              <button class="delete" aria-label="close" onclick="close_modal();"></button>
            </header>
            <section class="modal-card-body">
              <p>You have sorted all the images. <br>After saving, you can see the mapping in the result.json file.</p>
            </section>
            <footer class="modal-card-foot">
              <form method="post" id="save_form">
                <button class="button is-success" onclick="save_result();">Save changes</button>
              </form>
              <button class="button" type="submit" onclick="close_modal();">Cancel</button>
            </footer>
          </div>
        </div>

    </div>
  </section>
{% endblock %}