{% extends "base.html" %}

{% block title %}Tune your allocator{% endblock %}
{% block include %}
<link rel="stylesheet" href="{{ app.router.static.url_for(filename='css/tune.css') }}">
{% endblock %}

{% block body %}
<section class="section">
    <div class="container">
      <h1 class="title">
        Manual Allocator
      </h1>

      <p>Choose here a number of classes:</p>
      <div class="field has-addons">
        <div class="control is-expanded">
          <div class="select is-fullwidth">
            <select id="classes">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
          </div>
        </div>
        <div class="control">
          <button type="submit" class="button is-primary" onclick="set_names()">Choose</button>
        </div>
      </div>

      <p id="rename_message" style="visibility: hidden;">Here you can rename your classes:</p>
      <div id="get_names">
      </div>

      <form method="post" id="save" style="visibility: hidden; padding: 5px;">
        <button class="button is-success">Save this settings</button>
      </form>
    </div>
</section>

<script>
var class_num = 0;
var curr_num = 1;

function set_names(){
    class_num = parseInt(document.getElementById('classes').value);

    //form = document.getElementById('get_names');
    //for (i = 0; i < class_num; i++){
    //  alert(i);
    //  var hiddenField = document.createElement("input");
    //  hiddenField.setAttribute("type", "text");
    //  hiddenField.setAttribute("name", i);
    //  hiddenField.setAttribute("value", i);
    //  form.appendChild(hiddenField);
    //}
    document.getElementById('rename_message').style.visibility = "visible";

    if (class_num < curr_num - 1){
      curr_num = 1;
      var myNode = document.getElementById("get_names");
      while (myNode.firstChild) {
          myNode.removeChild(myNode.firstChild);
      }
    };

    for (curr_num; curr_num <= class_num; curr_num++){
      var inp = document.createElement("INPUT");
      inp.name = curr_num;
      inp.value = curr_num;
      inp.classList.add("input");
      document.getElementById('get_names').appendChild(inp);
    }
    document.getElementById('save').style.visibility = "visible";
};
</script>
{% endblock %}